@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "calibri";
  src: url(https://dopweb-repository.s3-us-west-2.amazonaws.com/figec/mydop-files/calibri-regular.ttf) format("woff2")
}

@font-face {
  font-family:"freestyle";
  src:url(https://dopweb-repository.s3-us-west-2.amazonaws.com/figec/mydop-files/29733748199.ttf) format("woff2")
}

.calibri{
  font-family: "calibri";
}

.freestyle{
  font-family: "freestyle";
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
